<!-- Ouibounce Modal -->
    <div id="ouibounce-modal">
      <div class="underlay"></div>
      <div class="modal">
        <div class="modal-title">
          <h1></h1>
        </div>
        <div class="modal-body">
          <p>Download the S'more app to unlock rewards just for using your phone.<p>
          <p></p>
          <a href="https://play.google.com/store/apps/details?id=com.lab465.SmoreApp&utm_source=ouibounce&utm_medium=modal"></a>
          <!-- <form >
            <input type="phone" placeholder="enter your mobile number">
            <input type="submit" value="Text me a link to download  »">
          </form> -->
        </div>
        <div class="modal-footer">
          <p>No Thanks</p>
        </div>
      </div>
    </div>