<div class="noMobile">
<div class="woahbar" style="display: none !important;"><span class="montserrat">TL;DR: S'more ia great android app to make money! <a class="woahbar-link" href="https://play.google.com/store/apps/details?id=com.lab465.SmoreApp" target="_blank">Download Here!</a> </span> <a class="close-notify" onclick="woahbar_hide();"><img class="mwoahbar-link  mclose-notify" src="http://woahbar.com/images/woahbar-up-arrow.png" /></a></div>
<div class="woahbar-stub" style="display: none;"><a class="show-notify" onclick="woahbar_show();"><img class="woahbar-down-arrow" src="http://woahbar.com/images/woahbar-down-arrow.png" /></a>
</div>
</div>